.bottomBorder
{
	border-bottom-style: solid;
	border-width: 1px;
}

.noBorder
{
	border: 0;
}

#content
/* this code centers the page */
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	position: relative;
	width: 1024px;
}

#content div
{
	float: left;
}

#footer
{
	background-image: url('images/footer.png');
	background-repeat: repeat-x;
	bottom: 0;
	height: 12px;
	position: absolute;
}

#header
{
	background-image: url('images/nav/header.png');
	background-repeat: repeat-x;
	height: 92px;
}

a:active
{
	color: #FFA82A;
	text-decoration: none;
}

a:hover
{
	color: #D58C23;
	text-decoration: underline;
}

a:link
{
	color: #FF9700;
	text-decoration: none;
}

a:visited
{
	color: #C47400;
	text-decoration: none;
}

body
{
	font-family: Calibri, Arial, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

h1
{
	font-family: "Segoe UI Semibold", sans-serif;
	font-weight: normal;
	margin-top: 4px;
}

h2
{
	font-family: "Segoe UI", sans-serif;
	font-weight: normal;
}

h3
{
	font-family: "Segoe UI Light", sans-serif;
	font-weight: normal;
}

p
{
	margin-top: 8px;
}

/* Team Jiminy Cricket */