#chatArea
{
	height: 328px;
	width: 300px;
}

#content div
{
	float: left;
}

#currentWord
{
	height: 64px;
	width: 700px;
}

#linkToInvite
{
	height: 64px;
	width: 300px;
}

#paintArea
{
	height: 439px;
	width: 700px;
}

#toolBox
{
	height: 98px;
	width: 700px;
}

#topicAndTime
{
	height: 64px;
	width: 300px;
}

#whoIsPlaying
{
	height: 144px;
	width: 300px;
}

/* Team Jiminy Cricket */