#chatArea
{
	height: 448px;
	width: 300px;
}

#content div
{
	float: left;
}

#contentLeft
{
	border-style: solid;
	border-width: 1px;
	width: 700px;
}

#contentRight
{
	border-bottom-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-width: 1px;
	width: 300px;
}

#currentWord
{
	height: 64px;
	width: 700px;
}

#linkToInvite
{
	height: 64px;
	width: 300px;
}

#paintArea
{
	height: 529px;
	width: 700px;
}

#toolBox
{
	height: 128px;
	width: 700px;
}

#topicAndTime
{
	height: 64px;
	width: 300px;
}

#whoIsPlaying
{
	height: 144px;
	width: 300px;
}

/* Team Jiminy Cricket */