div#fbookLike
{
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	width: 288px;
}


#fbookLogin
{
	height: 164px;
	margin-left: 32px;
	width: 224px;
}


/* Team Jiminy Cricket */