div#fbookLike
{
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	text-align: center;
	width: 300px;
}


#fbookLogin
{
	height: 164px;
	margin-left: 32px;
	width: 224px;
}


/* Team Jiminy Cricket */