div#chatArea
{
	border-bottom-style: solid;
	border-width: 1px;
	height: 279px;
	overflow: auto;
	vertical-align: middle;
	width: 300px;
}


div#chatAreaInput
{
	height: 48px;
	width: 300px;
}


div#chatForm
{
	margin-top: 4px;
	margin-bottom: 1px;
}


div#content
/* this code centers the page */
{
	height: 605px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	position: relative;
	width: 1024px;
}


input#msg
{
	border-width: 0px;
	font-family: "Segoe UI Light", "Segoe UI", sans-serif;
	font-size: 154%;
	height: 42px;
	margin-top: 2px;
	outline: none;
}


span.author
{
	color: #06447F;
	font-family: "Segoe UI", sans-serif;
}


div#content div
{
	float: left;
}


div#currentTopic
{
	height: 48px;
	width: 300px;
}


div#currentWordAndTimeLeft
{
	height: 48px;
	width: 700px;
}


div#linkToInvite
{
	height: 64px;
	width: 300px;
}


div#paintArea
{
	cursor: crosshair;
	height: 470px;
	width: 700px;
}


div#toolBox
{
	height: 82px;
	width: 700px;
}


div#toolBoxTable
{
	height: 82px;
	text-align: center;
	width: 700px;
}


div#whoIsPlaying
{
	height: 224px;
	width: 300px;
}


/* Team Jiminy Cricket */