#chatArea
{
	border-bottom-style: solid;
	border-width: 1px;
	height: 279px;
	overflow: auto;
	width: 300px;
}

#chatAreaInput
{
	height: 48px;
	width: 300px;
}

#chatForm
{
	margin-top: 4px;
	margin-bottom: 1px;
}

#msg
{
	border-width: 0px;
	font-family: "Segoe UI Light", "Segoe UI", sans-serif;
	font-size: 154%;
	height: 42px;
}

#content div
{
	float: left;
}

#currentTopic
{
	height: 48px;
	width: 300px;
}

#currentWordAndTimeLeft
{
	height: 48px;
	width: 700px;
}

#linkToInvite
{
	height: 64px;
	width: 300px;
}

#paintArea
{
	cursor: crosshair;
	height: 470px;
	width: 700px;
}

#toolBox
{
	height: 82px;
	width: 700px;
}

#toolBoxTable
{
	height: 82px;
	text-align: center;
	width: 700px;
}

#whoIsPlaying
{
	height: 224px;
	width: 300px;
}


/* Team Jiminy Cricket */